nav.top-bar {
text-align:center;
}
section.top-bar-section {
display: inline-block;
}
nav.top-bar ul li:hover{
	background-color: red;
}
.slider-noticias p{

}
.fullWidth{
width: 100%;
margin-left: auto;
margin-right: auto;
max-width: initial;
}
#centro {
    width: 1241px;
	top:50%;
	left:20%;
	margin-top:-50px;
	margin-left: 0 auto;
}
/***** GENERAL & PSEUDO CLASSES *****/

body{ -webkit-font-smoothing: antialiased; }
#main-container{ overflow: hidden; }
input{ -webkit-appearance: none; }
input:focus{ outline: none; }
.border-bottom{ border-bottom: 2px solid #fff; height: 32px; }
.nopad{ padding: 0px; }
.offix{ overflow: hidden; }
.pad-normal{ padding-top: 66px; padding-bottom: 66px; }
.pad-large{ padding-top: 121px; padding-bottom: 121px; }
.pad-top{ padding-top: 121px; }
.pad-bottom{ padding-bottom: 66px; }

#loader{ position: absolute; width: 100%; height: 100%; background-color: #fff; z-index: 20000; padding-top: 250px; }
#progress-bar{ 
	height: 10px; background-color: #222; 
	-webkit-transition: all .5s; 
	transition: all .5s; 
	-moz-transition: all .5s;
	width: 0px;
}