body {
    padding-top: 50px;
    font-family: "Lato";
}

.secao {
    padding: 40px 15px;
    text-align: center;
}

body ::selection {
/*WebKit/Blink Browsers */
    background: #FCCB48;  
/*    background: #86C43F; */
/*  to-do */
    
}
body ::-moz-selection {
/*    geko Browsers */
    background: #FCCB48;  
/*    background: #235389;*/
}
/* navigation */

.navbar {
    margin: 0 auto;
    text-align: center;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
     box-shadow: 0px 2px 5px rgba(136, 136, 136, 0.29);
}

@media (min-width: 768px) {
    .navbar-nav {
        /* float: left; */
        
        text-align: center;
        margin: 0 auto;
        float: none;
        width: 690px;
    }
}

.navbar-inverse {
    background-color: #ffec9e;
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #333;
}

.navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover {
    font-weight: bold;
    color: #235389;
    background: none;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background: #6D6E71;
}

.navbar-inverse .navbar-brand {
    /* color: #9d9d9d; */
}
/* jumbotron */

.jumbotron {
  text-align: center;

  
}
.header {
    background: url('../img/header.png') no-repeat center;
    background-size: contain;
    height: 500px;
    margin-top: -50px;
}

/* rodape */

.rodape {
    background: url('../img/footer-image2.png') no-repeat center;
    /*  background-position: bottom;*/
    
    background-size: cover;
    height: 800px;
    margin-bottom: 0px;
}

.rodape h1,
.rodape h2,
.rodape h3,
.rodape h6 {
    color: #ffec9e;
    font-weight: bold;
    padding-top:10px;
    text-align: left;

}

.rodape h4{
     font-family: 'Raleway', sans-serif;
    font-size: 28px;
    text-align: left;
      margin: 30px 0 0 -90px;

}
.rodape h2{
 font-family: 'Raleway', sans-serif;
}

/* fonts */

.jumbotron h1,
h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2.75em;
}
/* table */

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    text-align: center;
}

.form-horizontal {}

.form-control {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #ffec9e;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.btn {
    border-radius: 0;
    border-color: #ffec9e;
    background-color: #ffec9e;
    color: #000;
}

.btn:hover {
    background-color: #f0dc8c;
    border-color: #ffec9e;
    color: #000000;
}

/* Subscribe */
.subscribe {
    margin: 20px auto 0;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    @include box-shadow(0 1px 2px rgba(black, .5));
}

.subscribe-pitch {
    padding-left: 10px;
}

.subscribe-form {
    position: relative;
    margin: 20px -20px -20px;
    padding: 15px;
    border-top: 1px solid #ccc;
    border-radius: 0 0 6px 6px;
    @include linear-gradient(top, #fafafa, #eaeaea 50%, #e1e1e1 51%, #f2f2f2);
    @include box-shadow(inset 0 1px white);
}

.subscribe-input {
    padding: 0 16px;
    width: 100%;
    height: 35px;
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 15px;
    color: #444;
    background: #fefefe;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #999 #aaa #aaa;
    border-radius: 20px;
    @include box-shadow(inset 0 1px 1px rgba(black, .2), 0 1px #f8f8f8);
    &:focus {
        outline: 0;
    }
}

.subscribe-submit {
    display: block;
    position: absolute;
    top: 16px;
    right: 15px;
    padding-left: 15px;
    height: 35px;
    width: auto;
    background: #9D8E53;
    cursor: pointer;
    @include hide-text;
    @include linear-gradient(top, #84f087, #4cd94a);
    @include box-shadow(inset 0 1px rgba(white, .4));
    &:active {
        background: #4cdf4d;
        @include box-shadow(inset 0 0 3px rgba(black, .3));
    }
    &:before {
        content: '';
        display: block;
        margin-top: 1px;
        width: 25px;
        height: 19px;
    }
}

.lt-ie9 .subscribe-input {
    line-height: 33px;
}

.marcadores {
    color: white;
}

.fa-li{
    width: 15px;
    font-size: 42px;
    display: inline-block;
    -webkit-backface-visibility: hidden;

}

ul.fa-ul.marcadores li{
padding-bottom:50px;
    margin-left: 150px;
}
ul.fa-ul.marcadores span{
float:left;
    text-align: left;
}


.entidades ul span{
    padding: 1em;
}