  nav.top-bar {
  text-align: center;
}
section.top-bar-section {
  display: inline-block;
}
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
#centro {
  width: 1241px;
  top: 50%;
  left: 20%;
  margin-top: -50px;
  margin-left: 0 auto;
}
h1 {
  font-family: "Mohave";
}
p {
  font-family: "Lato";
}

/***** FONTS *****/

@font-face {
  font-family: "Mohave";
  font-style: normal;
  font-weight: 400;
  src: local('Mohave'), url(Mohave.otf) format('OpenType');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(Montserrat-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(Montserrat-Bold.woff) format('woff');
  /***** GENERAL & PSEUDO CLASSES *****/
  body {
    -webkit-font-smoothing: antialiased;
  }
  #main-container {
    overflow: hidden;
  }
  input {
    -webkit-appearance: none;
  }
  input:focus {
    outline: none;
  }
  .border-bottom {
    border-bottom: 2px solid #fff;
    height: 32px;
  }
  .nopad {
    padding: 0px;
  }
  .offix {
    overflow: hidden;
  }
  .pad-normal {
    padding-top: 66px;
    padding-bottom: 66px;
  }
  .pad-large {
    padding-top: 121px;
    padding-bottom: 121px;
  }
  .pad-top {
    padding-top: 121px;
  }
  .pad-bottom {
    padding-bottom: 66px;
  }
  #loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 20000;
    padding-top: 250px;
  }
  #progress-bar {
    height: 10px;
    background-color: #222;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transition: all .5s;
    width: 0px;
  }
  #contato {
    background: #2e2e2e;
    position: relative;
    background: url('img/ccsp1.jpg');
    background-size: cover;
  }
  #contact:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #222;
    opacity: 0.95;
  }
  #contact .row {
    padding: 121px 0px 99px 0px;
  }
  #contact .pin-body {
    height: 80px;
  }
  #contact input {
    background: none;
    border: none;
    border-bottom: 3px solid #777;
    display: inline-block;
    -webkit-appearance: none;
    box-shadow: none;
    margin-bottom: 10px;
    height: 30px;
    text-transform: uppercase;
  }
  #contact h4 {
    color: #555;
    font-size: 18px;
  }
  .contact-form {
    overflow: hidden;
    margin-top: 44px;
  }
  .contact-form input {
    float: left;
    margin: 0px;
    background: none;
    border-bottom: 3px solid #ddd;
    text-transform: none;
    transition: all .3s ease;
    padding-left: 0px;
  }
  .contact-form input:focus {
    border-color: #eee;
  }
  #form-name {
    width: 48%;
    float: left;
  }
  #form-email {
    width: 48%;
    float: right;
  }
  #form-msg {
    width: 100%;
    margin-top: 22px;
  }
  .contact-methods {
    overflow: hidden;
    list-style: none;
    margin-top: 44px;
  }
  .contact-methods li {
    margin-bottom: 33px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    position: relative;
  }
  .contact-methods li .icon {
    width: 15%;
    float: left;
    font-size: 42px;
  }
  .contact-methods li .method-text {
    width: 85%;
    float: left;
  }
  .method-text h6 {
    color: #ddd;
  }
  .method-text span {
    color: #999;
  }
  #contact .btn {
    border-color: #999;
    color: #999;
    margin-top: 22px;
    margin-left: 22px;
    float: right;
  }
  #form-sent {
    display: none;
  }
  #details-error {
    display: none;
  }
  /***** FOOTER *****/
  #footer {
    background: #222;
    padding: 66px 0px 66px 0px;
  }
  #footer h6 {
    color: #575757;
    font-size: 14px;
  }

