body {
    padding-top: 50px;
    font-family: "Lato";
    overflow-x: hidden;
}

.secao {
    padding: 40px 15px 0px;
    text-align: center;
}

body::selection {
    /*WebKit/Blink Browsers */

    background: #FCCB48;
    /*    background: #86C43F; */
    /*  to-do */
}

body::-moz-selection {
    /*    geko Browsers */

    background: #FCCB48;
    /*    background: #235389;*/
}
/* navigation */

.navbar {
    margin: 0 auto;
    text-align: center;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
    box-shadow: 0px 2px 5px rgba(136, 136, 136, 0.29);
}

@media (min-width: 768px) {
    .navbar-nav {
        /* float: left; */

        text-align: center;
        margin: 0 auto;
        float: none;
        width: 690px;
    }
}

.navbar-inverse {
    background-color: #ffec9e;
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #333;
}

.navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover {
    font-weight: bold;
    color: #235389;
    background: none;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background: #6D6E71;
}

.navbar-inverse .navbar-brand {
    /* color: #9d9d9d; */
}
/* jumbotron */

.jumbotron {
    text-align: center;
}

.header {
    background: url('../img/header.png') no-repeat center;
    background-size: contain;
    height: 500px;
    margin-top: -50px;
}
/* rodape */

.rodape {
    background: url('../img/footer-image2.png') no-repeat center;
    /*  background-position: bottom;*/

    background-size: cover;
    height: 800px;
    margin-bottom: 0px;
}

.rodape h1,
.rodape h2,
.rodape h3,
.rodape h6 {
    color: #ffec9e;
    font-weight: bold;
    padding-top: 10px;
    text-align: left;
}

.rodape h3 {
    font-size: 1.3em;
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: bold;
}

.rodape h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    text-align: left;
    margin: 30px 0 0 -90px;
}

.rodape h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6em
}
/* fonts */

.jumbotron h1,
h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2.75em;
}
/* table */

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    text-align: center;
}

.form-horizontal {}

.form-control {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #ffec9e;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.btn {
    /* border-radius: 0; */
    border-color: #ffec9e;
    background-color: #ffec9e;
    color: #000;
}

.btn:hover {
    background-color: #f0dc8c;
    border-color: #ffec9e;
    color: #000000;
}
/* Subscribe */

.subscribe {
    margin: 20px auto 0;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    @include box-shadow(0 1px 2px rgba(black, .5));
}

.subscribe-pitch {
    padding-left: 10px;
}

.subscribe-form {
    position: relative;
    margin: 20px -20px -20px;
    padding: 15px;
    border-top: 1px solid #ccc;
    border-radius: 0 0 6px 6px;
    @include linear-gradient(top, #fafafa, #eaeaea 50%, #e1e1e1 51%, #f2f2f2);
    @include box-shadow(inset 0 1px white);
}

.subscribe-input {
    padding: 0 16px;
    width: 100%;
    height: 35px;
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 15px;
    color: #444;
    background: #fefefe;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #999 #aaa #aaa;
    border-radius: 20px;
    @include box-shadow(inset 0 1px 1px rgba(black, .2), 0 1px #f8f8f8);
    &:focus {
        outline: 0;
    }
}

.subscribe-submit {
    display: block;
    position: absolute;
    top: 16px;
    right: 15px;
    padding-left: 15px;
    height: 35px;
    width: auto;
    background: #9D8E53;
    cursor: pointer;
    @include hide-text;
    @include linear-gradient(top, #84f087, #4cd94a);
    @include box-shadow(inset 0 1px rgba(white, .4));
    &:active {
        background: #4cdf4d;
        @include box-shadow(inset 0 0 3px rgba(black, .3));
    }
    &:before {
        content: '';
        display: block;
        margin-top: 1px;
        width: 25px;
        height: 19px;
    }
}

.lt-ie9 .subscribe-input {
    line-height: 33px;
}

.marcadores {
    color: white;
}

.fa-li {
    width: 15px;
    font-size: 42px;
    display: inline-block;
    -webkit-backface-visibility: hidden;
}

ul.fa-ul.marcadores li {
    padding-bottom: 50px;
    margin-left: 150px;
}

ul.fa-ul.marcadores span {
    float: left;
    text-align: left;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

@media (max-width: 768px) {
    ::-webkit-input-placeholder {
        color: #f00;
    }
    ::-moz-placeholder {
        color: #f00;
    }
    /* firefox 19+ */

    :-ms-input-placeholder {
        color: #f00;
    }
    /* ie */

    input:-moz-placeholder {
        color: #f00;
    }
}
/* Mapa */
/*--------------------------------------------*/
/*---------------- Schedule ------------------*/
/*--------------------------------------------*/

.day-title {
    background: #F0F0F0;
    padding: 1em 0;
    text-align: center;
    font-size: 1.5em;
}

#day-one,
#day-two {
    overflow: auto;
}

.day-one .day-title-two:hover,
.day-two .day-title-one:hover {
    background: #E6E6E6;
}

.event {
    margin: 1.5em 0;
}

.time {
    color: #B4B4B4;
}

.event:first-child .talk-speaker:before,
.party:before {
    top: 3.2em;
}

.talk-speaker .abstract {
    display: none;
    margin-bottom: 1em;
}

.talk-speaker.expanded .abstract {
    display: block;
    clear: both;
}

button:focus {
    outline: 0;
}
/*.talk {
  margin-bottom: .5em;
  clear: both;
}*/

.talk a {
    background: #0072B6;
    color: white;
    padding: .2em .4em .05em;
    vertical-align: bottom;
}

.talk a:hover {
    background: #045383;
}

button.expand {
    background: #A8A8A8;
    color: white;
    border: none;
    padding-top: .3em;
}

button.expand:hover {
    background: #868686;
}

.speaker-talk-title,
.time-entity,
.party-title {
    font-size: 1.2em;
}

.party-title .festivities {
    text-transform: inherit;
}

.party-title div {
    font-size: .8em;
}

#schedule .speaker-name {
    font-size: 1.2em;
    margin: 0;
}

.speaker-name a:hover {
    text-decoration: underline;
}

.talk-speaker img {
    display: none;
}

.party img {
    vertical-align: middle;
}

@media only screen and (min-width: 650px) {
    .header-actions .button {
        width: 46%;
        margin: 1.8em .5em 0;
    }
    header .intro {
        padding: 2em 0;
    }
    header .intro h1 {
        font-size: 3em;
        letter-spacing: 10px;
        line-height: 1.1em;
        font-weight: 100;
    }
    header .intro h2 {
        font-size: 3em;
    }
    header .intro h3 {
        font-weight: 400;
        font-size: 2em;
    }
    .header-actions .button {
        padding: .9em 1em;
    }
    .event {
        margin: 0;
        overflow: hidden;
    }
    .talk-speaker:before,
    .party:before {
        content: '';
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        background: white;
        left: -1.0em;
        border-radius: 50px;
        border: 5px solid #DADADB;
        top: 1.6em;
    }
    .time {
        width: 30%;
        text-align: right;
        float: left;
        padding: 1.25em 2em 1.25em 0;
        color: #B4B4B4;
    }
    .talk-speaker,
    .party {
        width: 70%;
        float: right;
        border-left: .5em solid #DADADB;
        padding: 1.25em 1.25em 1.25em 2em;
        position: relative;
    }
    .event:first-child .talk-speaker,
    .event:first-child .time {
        padding-top: 3em;
    }
    #schedule .speaker-name {
        margin: 0 0 .5em;
    }
    .speaker-talk-title,
    .party-title {
        font-size: 1.5em;
    }
    .talk-speaker.expanded {
        background: #F3F3F3;
    }
    .talk-speaker img {
        display: block;
        float: left;
        width: 105px;
        margin: 0 1em 1em 0;
    }
}

@media only screen and (min-width: 750px) {
    .speaker-entity {
        width: 25%;
    }
}

@media only screen and (min-width: 800px) {
    header .intro h1 {
        font-size: 4em;
        letter-spacing: 10px;
        line-height: 1.1em;
        font-weight: 100;
    }
    .block {
        padding: 6em 2em;
    }
    .title {
        font-size: 3.5em;
        text-align: center;
        font-weight: 100;
        font-size: 2em;
        border-bottom: 2px solid #DADADA;
        padding-bottom: .3em;
        margin-bottom: .4em;
    }
    #venue .map {
        float: right;
        width: 50%;
        margin-top: 2em;
        overflow: hidden;
        padding-left: 2em;
    }
    .location-info {
        overflow: auto;
    }
    #venue .info {
        float: left;
        width: 50%;
        margin-top: 2em;
    }
    .header-actions .button {
        width: 18em;
    }
    form.register_form {
        width: 70%;
    }
    .promo-purchase {
        width: 50%;
        margin-left: 50%;
    }
    #trilogy .conference {
        margin: 1em 0 1.5em;
        width: 33.33333%;
        float: left;
        padding-right: 1em;
    }
    #trilogy .conference:last-of-type {
        padding-right: 0;
    }
    #trilogy p {
        padding: .5em;
    }
    .time-entity {
        font-size: 1.5em;
    }
    .column {
        width: 50%;
        float: left;
    }
    .column:first-of-type {
        padding-right: 1em;
    }
    .column:last-of-type {
        padding-left: 1em;
    }
}

@media only screen and (min-width: 1200px) {
    .header-1 {
        display: block;
    }
    #content {
        width: 100%;
        z-index: 101;
        position: fixed;
        margin-top: 650px
    }
    #content.relative {
        position: relative;
        margin-top: 2250px
    }
    /* CORRENTE */

    .chain {
        position: relative;
        clear: both;
    }
    .chain-link {
        position: relative;
        width: 4em;
        height: 1.6em;
        margin: 0.8em auto 0 auto;
        overflow: hidden;
    }
    .chain-link:nth-child(odd) {
        z-index: 0;
    }
    .chain-link:nth-child(even) {
        z-index: -1;
    }
    .disk {
        position: relative;
        width: 1.6em;
        height: 1.6em;
        border-radius: 50%;
        background: #979797;
    }
    .disk:nth-child(odd) {
        float: left;
        box-shadow: 0px 0 0px #979797 inset, 0px 0 0px #979797 inset, 0px 0 0px #979797 inset, 0 0px 0px rgba(255, 255, 255, 0.5) inset, 0px 0px 0px rgba(0, 0, 0, 0.4) inset;
    }
    .disk:nth-child(even) {
        float: right;
        box-shadow: 0px 0 0px #979797 inset, 0px 0 0px #979797 inset, 0px 0 0px #979797 inset, 0 0px 0px rgba(255, 255, 255, 0.5) inset, 0px 0px 0px rgba(0, 0, 0, 0.4) inset;
    }
    .disk:before {
        content: '';
        display: block;
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        position: absolute;
        top: 0.4em;
        left: 0.4em;
        background: #979797;
        box-shadow: 0px 0 0px rgba(255, 255, 255, 0.2), 0px 0 0px rgba(255, 255, 255, 0.2), 0 0px 0px rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.4), 0 0 0px black inset;
    }
    .disk:after {
        content: '';
        display: block;
        width: 0.4em;
        height: 0.4em;
        border-radius: 50%;
        position: absolute;
        top: 0.6em;
        left: 0.6em;
        background: #737373;
        box-shadow: 0px 0 0px rgba(255, 255, 255, 0.2), 0px 0 0px rgba(255, 255, 255, 0.2), 0 0px 0px rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.4), 0 0 0px black inset;
    }
    .junction {
        position: absolute;
        top: 0.10718em;
        left: 0.8em;
        width: 2.4em;
        height: 1.38564em;
        background: #979797;
    }
    .junction:before {
        content: '';
        display: block;
        width: 3.2em;
        height: 3.2em;
        position: absolute;
        top: -2.98564em;
        left: -0.4em;
        background: #d5d5d5;
        border-radius: 50%;
    }
    .junction:after {
        content: '';
        display: block;
        width: 3.2em;
        height: 3.2em;
        position: absolute;
        top: 1.17128em;
        left: -0.4em;
        background: #d5d5d5;
        border-radius: 50%;
    }

    .secao span{
        padding: 10px;
    }
